@buttonTextColor1: #f2f2f2;

.button {
	background-image: '@{img_path}/bg-basefolder.png';
	color: @buttonTextColor1;
	font-size: 1.166em;
	&:hover, &.hover {
	}
	&:active, &.active {

	}
}