@buttonTextColor1: #f2f2f2;

.button {
	background-image: '@{img_path}';
	color: @buttonTextColor1;
	font-size: 1.166em;
	&:hover, &.hover {
		background-image: '@{temp_path}';
	}
	&:active, &.active {
		background-image: '@{sprites_path}';
	}
}