<div class="p-progress p-progress_radius">
	<div class="p-progress__inner">
		<div class="p-text">70%</div>
	</div>
	<div class="p-progress__text p-progress__text_bottom"></div>
	<div class="p-progress__text p-progress__text_top"></div>
</div>

<div class="p-progress p-progress_corner">
	<div class="p-progress__inner">
		<div class="p-text"></div>
	</div>
	<div class="p-progress__text p-progress__text_bottom"></div>
	<div class="p-progress__text p-progress__text_top"></div>
</div>

<div class="p-progress p-progress_round">
	<div class="p-progress__inner">
		<div class="p-text"></div>
	</div>
	<div class="p-progress__text p-progress__text_bottom"></div>
	<div class="p-progress__text p-progress__text_top"></div>
</div>