//- include js script in progect
include ./var.jade
//- script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")

<!-- the mousewheel plugin - optional to provide mousewheel support -->
script(type="text/javascript" src="#{js_path}/jquery.mousewheel.js")


<!-- the jScrollPane script -->
script(type="text/javascript" src="#{js_path}/jquery.jscrollpane.min.js")


<!-- bxSlider Javascript file -->
script(src="#{js_path}/jquery.bxslider.min.js")


script.
	$(function()
	{
		$('.scroll-pane').jScrollPane();
		$('.bxslider').bxSlider();
	});