//- global path 
- var css_path = '../css';

- var less_path = css_path + '/less';
- var less_comp_path = less_path + '/components';
- var less_lib_path = less_path + '/lib';
- var less_mod_path = less_path + '/modules';

- var sass_path = css_path + '/sass';
- var sass_comp_path = sass_path + '/components';
- var sass_lib_path = sass_path + '/lib';
- var sass_mod_path = sass_path + '/modules';

- var js_path = '../js';

//- path to images
- var bg_path = '../images/bg/';
- var img_path = '../images/img/';
- var icons_path = '../images/icons/';
- var sprites_path = '../images/sprites/';