extends extends/maintemp.jade


//- add script/link into head
block head

//- block header
block header
//- block content
block content
	.title title some фыв
//- block footer
block footer

//- script in the bottom of page
block footer_script