extends templates/base-template.jade
include blocks/menu-list/menu-list.jade

//- add script/link into head
block head

//- block header
block header
//- block content
block content
	.title title 
	- var data = getData('blocks/menu-list/menu-list.json')
	+menu-list(data.menu1, "main-menu")
//- block footer
block footer