html(lang="en")
	include ../head.jade
	block head
	body
		.wrapper
			header
				include ../include/header.jade
				block header
			.content
				block content
		footer
			include ../include/footer.jade
			block footer
		block footer_script
		include ../footer.jade