//- page title
- var page_title = 'Omnigon';
//- path to css
- var css_path = './css';

//- path to less
- var less_path = css_path + '/less';
- var less_comp_path = less_path + '/components';
- var less_lib_path = less_path + '/lib';
- var less_mod_path = less_path + '/modules';

//- path to js
- var js_path = './js';

//- path to images
- var images = './images';
- var bg_path = images + '/bg';
- var img_path = images + '/img';
- var icons_path = images + '/icons';
- var sprites_path = images + '/sprites';