extends ./source/extend/maintemp.jade
include ./source/mixin/components/list.jade
include ./source/mixin/components/pagination.jade

block head

block header
	+list(list_test)(class="main-menu")
	+pagination(pagination_test)(class="pagination")
block content
	p content
	input(type="text" autocapitalize="off" autocorrect="off")
	input(type="file" accept="image/*" capture="camera")
	ul.bxslider
		- for (i=0;i<4;i++) {
			li
				img(src="http://dummyimage.com/1200x400/000/fff")
		- }
	ul.scroll-pane(style="height:100px;")
		- for (j=0;j<10;j++) {
			li text#{j}
		- }

block footer

block footer_script