extends ./source/extend/maintemp.jade
include ./source/mixin/components/list.jade
include ./source/mixin/components/pagination.jade

block header
	+list(list)(class="main-menu")
	+pagination(pagination_test)(class="pagination")
block content
	p content

block footer
