extends source/extend/maintemp.jade
include source/var.jade
include source/mixin/components/list.jade
include source/mixin/components/pagination.jade

//- add script/link into head
block head

//- block header
block header
	a(href="#").logo
		img(src="http://dummyimage.com/120x40/000/fff")
	+list(list_test)(class="main-menu")
//- block content
block content
	ul.bxslider
		- for (i=0;i<4;i++) {
			li
				img(src="http://dummyimage.com/1200x400/000/fff")
		- }
	.title title
//- block footer
block footer
	

//- script in the bottom of page
block footer_script