include ../modules/footer/footer.jade
include ../modules/header/header.jade
<!DOCTYPE html>
html(lang="en")
	include ../includes/head.jade
	block head
	body
		.wrapper
			header.header
				+header(getData('modules/header/header.json'))
				block header
			main.content
				block content
		footer.footer
			+footer(getData('modules/footer/footer2.json'))
			block footer
		block footer_script
		include ../includes/footer.jade