- var data = getData('modules/header/header.json')
a(href="#").logo
	img(src="#{img_path}/bg_temp" alt="")
	img(src="http://res.cloudinary.com/hata/image/upload/c_fill,h_152,q_70,w_290/v1417882445/logo.jpg")
	span #{data.header}