mixin list (array, key)
	//- Create UL
	ul(class!=attributes.class)
		+list__sort-object(array, key)(class!=attributes.class)

//- sort object
mixin list__sort-object (item_array, key)
	each item, key in item_array
		+list__item (item, key)(class!=attributes.class)

//- create item
mixin list__item (item, key)
	li(class!=attributes.class + "__item")
		+list__check-for-object (item, key)(class!=attributes.class)

//- check item to object
mixin list__check-for-object (item, key)
	if item == "[object Object]"
		+list (item, key)(class!=attributes.class + "__sub")
	else
		+list__check-for-tag (item, key)(class!=attributes.class)

//- if key has one of tag create such item
mixin list__check-for-tag (item, key)
	case key 
		when "span"
			span(class!=attributes.class + "__item__span")
				|#{item}
		when "em"
			em(class!=attributes.class + "__item__em")
				|#{item}
		when "strong"
			strong(class!=attributes.class + "__item__bold")
				|#{item}
		default
			+list_envelope (item, key)(class!=attributes.class)

//- create envelope text
mixin list_envelope (item, key)
	a(href="#" class!=attributes.class + "__item__link")
		|#{item}